* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box; 
	border: none;
	-webkit-text-size-adjust: none;
}

body {
	height: 1000px;
	background: black;
}

#puls {
	position: fixed;
	height: 100vh;
	width: 100vw;
/* 	background-color: #cf0000; */
/* 	background-color: #4208a6; */
	background-color: #ae0c0c;
	
	transition: all 0.2s 0.4s ease-in-out;
	
	display: none;
}
#puls.active {
/* 	background-color: #8d0000; */
	background-color: black;
}

#screen {
	position: fixed;
	width: 100vw;
	height: 0;
	bottom: 0;
	background-color: #df1a0c;
	
	transition: all 0.2s 0s ease-in-out;
	transition-property: height, background;
}

#screen.active {
	background-color: #91150b;
}

/*
#screen.transitionS {
	transition-property: left;
}
#screen.send {
	left: 100vw;
}
*/

#screen.transitionS {	
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
#screen.send {
	-webkit-transform: translateX(100vw);
	transform: translateX(100vw);
}


#puls_text {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100vw;
	text-align: center;
	/* 	font-family: -apple-system; */
	font-size: 258px;
	color: white;
	font-family: "Helvetica Neue";
	font-weight: 200;
}

#hashtag {
	font-size: 130px;
	
	position: fixed;
	top: 370px;
	left: 0;
	width: 100vw;
	text-align: center;
/* 	font-family: -apple-system; */
	font-size: 130px;
	color: white;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

#tweets {
	font-size: 130px;
	
	position: fixed;
	top: 550px;
	left: 0;
	width: 100vw;
	text-align: center;
	/* 	font-family: -apple-system; */
	font-size: 80px;
	color: white;
	font-family: "Helvetica Neue";
	font-weight: 300;
}

button {
	width:100vw;
	height: 100vh;
	font-size: 200px;
	font-family: "Helvetica Neue";
	font-weight: 300;
	background: white;
	position: fixed;
}