* {
	padding: 0;
	margin: 0;
	list-style: none;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
	border: none;
	-webkit-text-size-adjust: none;
}

#puls {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: #cf0000;
	
	transition: all 0.2s ease-in-out;
}
#puls.active {
	background-color: #8d0000;
}